<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
  <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  <style>
    .active {
      background-color: #85b5d9;
    }
  </style>
</head>

<body>
  <section class="page-header">
    <h1 class="project-name">The TinyML Guide</h1>
    <h2 class="project-tagline"></h2>
    <a href="https://github.com/phuston/patrickandfrantonarethebestninjas" class="btn">View on GitHub</a>
    <a href="https://github.com/phuston/patrickandfrantonarethebestninjas/zipball/master" class="btn">Download .zip</a>
    <a href="https://github.com/phuston/patrickandfrantonarethebestninjas/tarball/master" class="btn">Download .tar.gz</a>
  </section>

  <section>
    <div class="app">
      <div class="menu-toggle">
        <div class="hamburger">
          <span></span>
        </div>
      </div>

      <aside class="sidebar">
         <h3>Menu</h3> 
        <div>
          <div class="container">
            <nav class="menu">
              
                <a href="1" onclick="changeColor(this)" class="menu-item is-active">Introduction</a>
                <a href="2" onclick="changeColor(this)" class="menu-item">Microcontroller Basics</a>
                  <ul class="sub-menu">
                    <a href="hello" onclick="changeColor(this)" class="sub-menu-item">Service 1</a>
				  </ul>
                
                <a href="3" class="menu-item">Machine Learning Basics</a>
                <a href="4" class="menu-item">Python Basics</a>
                <a href="4" class="menu-item">Projects</a>
            </nav>
          </div>
        </div>
      </aside>

      <main class="main-content">
        {{ content }}
      </main>
    </div>

    <script>
      const menu_toggle = document.querySelector('.menu-toggle');
      const sidebar = document.querySelector('.sidebar');

      menu_toggle.addEventListener('click', () => {
        menu_toggle.classList.toggle('is-active');
        sidebar.classList.toggle('is-active');
      });


function changeColor(el) {
  const activeMenuItem = document.querySelector('.menu-item.is-active');
  activeMenuItem.classList.remove('is-active');
  el.classList.add('is-active');
}
/*
      menuItems.forEach((menuItem) => {
        menuItem.addEventListener('click', () => {
          if (!menuItem.classList.contains('active')) {
            menuItems.forEach((item) => {
              item.classList.remove('active');
            });
            menuItem.classList.add('active');
          }
        });
      });

      subMenuItems.forEach((subMenuItem) => {
        subMenuItem.addEventListener('click', () => {
          subMenuItems.forEach((item) => {
            item.classList.remove('active');
          });
          subMenuItem.classList.add('active');
        });
      });*/



    </script>
  </section>
</body>

</html>
